body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.header {
    background-color: royalblue;
    color: #fff;
    padding: 20px 20px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.students-container {
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.students-container h2 {
    margin-top: 0;
    text-align: center;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
}

.students-table th,
.students-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.students-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.students-table td button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.students-table td button:hover {
    background-color: #0056b3;
}
#logout-button {
    padding: 8px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #c82333;
}

