body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  max-width: 800px; /* Збільшуємо максимальну ширину контейнера */
  padding: 100px; /* Збільшуємо padding для внутрішнього відступу */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-top: 0;
  text-align: center;
}

.input-group {
  margin-bottom: 20px; /* Збільшуємо відступ між рядками */
}

.input-group label {
  display: block;
  margin-bottom: 10px; /* Збільшуємо відступ між міткою і вводом */
}

.input-group input {
  width: 100%; /* Зменшуємо ширину вводу, щоб врахувати відступи */
  padding: 10px; /* Збільшуємо padding для внутрішнього відступу вводу */
  border-radius: 8px; /* Закруглюємо кути вводу */
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 20px; /* Збільшуємо padding для внутрішнього відступу кнопки */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Закруглюємо кути кнопки */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-message{
  text-align: center;
  color:red;
  margin: 0 auto;
}
